@font-face
  font-family SourceHanSansJP
  font-weight 200
  src url(./assets/fonts/SourceHanSansJP/SourceHanSansJP-ExtraLight.otf) format('opentype')

@font-face
  font-family SourceHanSansJP
  font-weight 300
  src url(./assets/fonts/SourceHanSansJP/SourceHanSansJP-Light.otf) format('opentype')

@font-face
  font-family SourceHanSansJP
  font-weight 400
  src url(./assets/fonts/SourceHanSansJP/SourceHanSansJP-Normal.otf) format('opentype')

@font-face
  font-family SourceHanSansJP
  font-weight 500
  src url(./assets/fonts/SourceHanSansJP/SourceHanSansJP-Regular.otf) format('opentype')

@font-face
  font-family SourceHanSansJP
  font-weight 600
  src url(./assets/fonts/SourceHanSansJP/SourceHanSansJP-Medium.otf) format('opentype')

@font-face
  font-family SourceHanSansJP
  font-weight 700
  src url(./assets/fonts/SourceHanSansJP/SourceHanSansJP-Bold.otf) format('opentype')

@font-face
  font-family SourceHanSansJP
  font-weight 800
  src url(./assets/fonts/SourceHanSansJP/SourceHanSansJP-Heavy.otf) format('opentype')

@font-face
  font-family SourceHanSerifJP
  font-weight 200
  src url(./assets/fonts/SourceHanSerifJP/SourceHanSerifJP-ExtraLight.otf) format('opentype')

@font-face
  font-family SourceHanSerifJP
  font-weight 300
  src url(./assets/fonts/SourceHanSerifJP/SourceHanSerifJP-Light.otf) format('opentype')

@font-face
  font-family SourceHanSerifJP
  font-weight 400
  src url(./assets/fonts/SourceHanSerifJP/SourceHanSerifJP-Regular.otf) format('opentype')

@font-face
  font-family SourceHanSerifJP
  font-weight 500
  src url(./assets/fonts/SourceHanSerifJP/SourceHanSerifJP-Medium.otf) format('opentype')

@font-face
  font-family SourceHanSerifJP
  font-weight 600
  src url(./assets/fonts/SourceHanSerifJP/SourceHanSerifJP-SemiBold.otf) format('opentype')

@font-face
  font-family SourceHanSerifJP
  font-weight 700
  src url(./assets/fonts/SourceHanSerifJP/SourceHanSerifJP-Bold.otf) format('opentype')

@font-face
  font-family SourceHanSerifJP
  font-weight 800
  src url(./assets/fonts/SourceHanSerifJP/SourceHanSerifJP-Heavy.otf) format('opentype')

@font-face
    font-family: SourceCodePro
    font-weight: 200
    font-style: normal
    font-stretch: normal
    src: url('./assets/fonts/SourceCodePro/SourceCodePro-ExtraLight.otf') format('opentype')

@font-face
    font-family: SourceCodePro
    font-weight: 200
    font-style: italic
    font-stretch: normal
    src: url('./assets/fonts/SourceCodePro/SourceCodePro-ExtraLightIt.otf') format('opentype')

@font-face
    font-family: SourceCodePro
    font-weight: 300
    font-style: normal
    font-stretch: normal
    src: url('./assets/fonts/SourceCodePro/SourceCodePro-Light.otf') format('opentype')

@font-face
    font-family: SourceCodePro
    font-weight: 300
    font-style: italic
    font-stretch: normal
    src: url('./assets/fonts/SourceCodePro/SourceCodePro-LightIt.otf') format('opentype')

@font-face
    font-family: SourceCodePro
    font-weight: 400
    font-style: normal
    font-stretch: normal
    src: url('./assets/fonts/SourceCodePro/SourceCodePro-Regular.otf') format('opentype')

@font-face
    font-family: SourceCodePro
    font-weight: 400
    font-style: italic
    font-stretch: normal
    src: url('./assets/fonts/SourceCodePro/SourceCodePro-It.otf') format('opentype')

@font-face
    font-family: SourceCodePro
    font-weight: 500
    font-style: normal
    font-stretch: normal
    src: url('./assets/fonts/SourceCodePro/SourceCodePro-Medium.otf') format('opentype')

@font-face
    font-family: SourceCodePro
    font-weight: 500
    font-style: italic
    font-stretch: normal
    src: url('./assets/fonts/SourceCodePro/SourceCodePro-MediumIt.otf') format('opentype')

@font-face
    font-family: SourceCodePro
    font-weight: 600
    font-style: normal
    font-stretch: normal
    src: url('./assets/fonts/SourceCodePro/SourceCodePro-Semibold.otf') format('opentype')

@font-face
    font-family: SourceCodePro
    font-weight: 600
    font-style: italic
    font-stretch: normal
    src: url('./assets/fonts/SourceCodePro/SourceCodePro-SemiboldIt.otf') format('opentype')

@font-face
    font-family: SourceCodePro
    font-weight: 700
    font-style: normal
    font-stretch: normal
    src: url('./assets/fonts/SourceCodePro/SourceCodePro-Bold.otf') format('opentype')

@font-face
    font-family: SourceCodePro
    font-weight: 700
    font-style: italic
    font-stretch: normal
    src: url('./assets/fonts/SourceCodePro/SourceCodePro-BoldIt.otf') format('opentype')

@font-face
    font-family: SourceCodePro
    font-weight: 900
    font-style: normal
    font-stretch: normal
    src: url('./assets/fonts/SourceCodePro/SourceCodePro-Black.otf') format('opentype')

@font-face
    font-family: SourceCodePro
    font-weight: 900
    font-style: italic
    font-stretch: normal
    src: url('./assets/fonts/SourceCodePro/SourceCodePro-BlackIt.otf') format('opentype')
