@media screen
  body
    margin: auto 0.8in
    padding-bottom: 0.8in
    max-width: 800px
    font-size: 120%
    line-height: 170%
    // overflow-x: hidden

  section
    clear: both

  article, section, nav
    margin-top: 5em

@media print
  :root
    widows: 2
    orphans: 2
    hyphens: auto

  // h1, h2, h3, h4, h5, h6
  //   color: #000000

  // table
  //   border-color: #000000

h1, h2, h3
  break-after: avoid

tr, th, td
  break-inside: avoid

pre
  widows: 4
  orphans: 4
  box-decoration-break: slice

article
  page-break-before: always
  page-break-after: always

.page-break
  width: 0
  height: 0
  page-break-after: always

@media print
  figure
    width: 50%
    float: inline-end
    float-reference: page
    margin: 1.5rem 20mm 1.5rem 1.5rem
    padding: 1rem 0
    background-color: #ffffff

    &.wide
      width: 75%

  #colophon
    margin-top: 10rem

  pre
    margin-right: -1000mm
    padding-right: 1000mm - 10mm

  span.footnote
    margin-right: $page-margin-outer

h1, h2
  clear: both

@page
  size: $page-width $page-height

  @bottom-left
    content: counter(page)
    font: $nombre-font
    margin-left: 8px
    color: black

  // for publishing output
  // bleed: $page-bleed
  // marks: crop cross

@-adapt-footnote-area ::before
  display: block
  -adapt-border-before-width: 0.2mm
  -adapt-margin-start: 0
  -adapt-margin-end: 93%

@page :right
  margin: $page-margin-top 0 $page-margin-bottom $page-margin-inner
  padding-right: $page-margin-outer

  // @bottom-right
  //   content: counter(page)
  //   font: $nombre-font
  //   color: black

@page :left
  margin: $page-margin-top 0 $page-margin-bottom $page-margin-outer
  padding-right: $page-margin-inner

  // @bottom-left
  //   content: counter(page)
  //   font: $nombre-font
  //   color: black

// @page :first
//   margin-top: $page-margin-top - 5mm
//   margin-bottom: 5mm

//   @bottom-left
//     content: ''
