// font

//$body-font = 400 8.5pt SourceHanSansJP, sans-serif
$body-font = 500 11px SourceHanSansJP, sans-serif
$body-line-height = 1.8
$heading-font-family = SourceHanSerifJP, serif
$code-font-family = SourceCodePro, SourceHanSansJP, monospace
$nombre-font = 600 14px SourceHanSansJP, sans-serif
$header-line-height = 1.2
$pre-font = 500 12px $code-font-family
$pre-line-height = 1.2

// JIS B5
$page-width = 182mm
$page-height = 257mm

$page-bleed = 3mm

$page-margin-top = 20mm
$page-margin-bottom = 20mm
$page-margin-inner = 40mm
$page-margin-outer = 15mm

$side-column-width = 30mm

$image-margin = 8px

$stretch = 5in

//$color-header-red = #e57d85
$color-header-red = #243767
$color-link-blue = #2798bd
$color-bg-beige = #eae9e5
